@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'AvenirNextCustom';
  src: url('/fonts/AvenirNextLTPro-Regular.woff');
  /* IE9 Compat Modes */
  src: url('/fonts/AvenirNextLTPro-Bold.woff') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/AvenirNextLTPro-Bold.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/AvenirNextLTPro-Bold.svg#add6a56a5a62396eaea1929a4942a5a6') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'AvenirNextCustom';
  src: url('/fonts/AvenirNextLTPro-Regular.woff');
  /* IE9 Compat Modes */
  src: url('/fonts/AvenirNextLTPro-Regular.woff') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/AvenirNextLTPro-Bold.svg#add6a56a5a62396eaea1929a4942a5a6') format('svg');

  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

.ancillary-navigation>div>a:first-child {
  border-left: none;
}

.ancillary-navigation>div>a.btn-link {
  color: #234397;
}

.alert {
  font-size: 18px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.alert-danger {
  background-color: #BD2F40;
  border-color: #a92a4e;
  color: #FFF;
}

.alert {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 0px;
}

.btn {
  border-width: 1px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: normal;

  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/AvenirNextLTPro-Regular.woff');
  /* IE9 Compat Modes */
  src: url('/fonts/AvenirNextLTPro-Bold.woff') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/AvenirNextLTPro-Bold.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/AvenirNextLTPro-Bold.svg#add6a56a5a62396eaea1929a4942a5a6') format('svg');

  font-weight: normal;
  font-style: normal;
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

body {
  font-family: "AvenirNextCustom", Arial, sans-serif;

  line-height: 30 / 16;
  color: #333;
  background-color: #fff;
}

/* body {
  font-family: "AvenirNextCustom", Arial, sans-serif;
} */

.max-w-4xl {
  max-width: 920px;
}

.btn-secondary {
  color: #fff;
  background-color: #234397;
  border-color: #234397;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.social-navigation>a {
  background: no-repeat scroll 0 0;
  background-image: url(../public/socialicon.png);
  width: 38px;
  height: 38px;
  font: 0 / 0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  float: left;
  margin-left: 5px;
  margin-top: 1px;
}

.social-navigation>.facebook {
  background-position: -40px 0;
}

.social-navigation>.youtube {
  background-position: -80px 0;
}

.social-navigation>.linkedin {
  background-position: -120px 0;
}

.social-navigation>.google {
  background-position: -200px 0;
}

.form-control,
.has-feedback .form-control,
.form-control:focus,
.has-feedback .form-control:focus {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.27);
}

.form-control,
.has-feedback .form-control {
  border-width: 2px;
  height: 42px;
}

.form-control {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 30 / 16;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #7F8BA0;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-secondary {
  color: #fff;
  background-color: #234397;
  border-color: #234397;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff');
}



.calendar-icon-button::before {
  font-family: 'Glyphicons Halflings';
  content: "\e109";
  font-size: 14px;

}

.mbsc-fr-btn {
  border-radius: 2px;
  border: none;
  width: 100%;
  background: #234397;
  padding: 5px;
  height: auto;
  color: #fff;
  font-family: 900 !important;
  box-shadow: none;
}

.btn {
  border-width: 1px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: normal;
}